.input_section{
    border:1px solid #ddd;
    border-bottom:0;
    background:#f9f9f9;
    border-radius: 3px 3px 3px 3px;
    margin-top: 20px;
}
.option_input label{
    font-size:12px;
    font-weight:700;
    width:30%;
    display:block;
    float:left;
}
.option_input {
    padding:10px 10px;
    border-bottom:1px solid #ddd;
    border-top:1px solid #fff;
}
.option_input small{
    display:block;
    margin-top: -10px;
    float: left;
    font-size: 65%;
    width:50%;
    color:#999;
}
.option_input input[type="text"], .option_input select{
    width:50%;
    font-size:12px;
    padding:4px;
    color:#333;
    line-height:1em;
    background:#f3f3f3;
}
.option_input input:focus, .option_input textarea:focus{
    background:#fff;
}
.option_input textarea{
    width:20%;
    height:175px;
    font-size:12px;
    padding:4px;
    color:#333;
    line-height:1.5em;
    background:#f3f3f3;
}
.input_title .dashicons {
    font-size: 25px !important;
    width: 25px;
    height: 25px;
    vertical-align: middle !important;
    margin: -3px 5px 0;
}
.input_title h3 {
    display: block;
    font-weight: 600;
    color: #464646;
    cursor: pointer;
    float: left;
    font-size: 15px;
    margin: 0;
    padding: 5px 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
    line-height: 25px;
}
.input_title{
    cursor:pointer;
    border-bottom:1px solid #ddd;
    margin: 0;
    padding: 7px 10px;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    border-bottom-color: #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF;
}
.input_title h3 img {
    position: relative;
    top: -2px;
    vertical-align: middle;
    margin-right: 5px;
}

.input_title span.submit{
    display: block;
    float: right;
    margin: 0 20px;
    padding: 0;
}
.clearfix{
    clear:both;
}

form > p.submit {
    float: right;
    padding: 0;
    margin-right: 30px;
}
.options_wrap > ul li {
    display: inline;
    margin-right: 5px;
}
.content_options .message {
    margin-top: 30px
}
.footer-credit{
    margin-top: 60px
}
.theme-section{
    display: none;
}
.option_input label.checkbox-select {
    width: 100% ;
    font-weight: normal;
}
.option_input div.option-container {
    float: left;
    display: inline-block;
    width: 65%;
}

#overloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(../img/spinner.gif) center center no-repeat;
}