
.errore{
color: red; 
font-size: 12px;
display:block;
padding-bottom: 6px;
}

.twitter_box{

width: 600px;
height:400px;
}


.textarea_cls{
	width:500px;
	height:200px;
}
.wide_inp{
	width:500px;
}
.clearfix{
  clear:both;
}
.error_msg{
	padding: 9px 6px 10px;
background: coral;
border: 1px dotted red;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
color:#fff;
}
.conf_msg{
	padding: 9px 6px 10px;
	background: #CF9;
	border: 1px dotted #9C0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color:#fff;
}
.qtip_block{
	display:inline;
 }
 .admin_tabs_block1{
	display1:none;
	position:fixed;
	top:40%;
	left:400px;
	width:600px;
	
 }
 .gallery_area, .custom_editor{
	width:100%;
	height:100px;
 }
 .wide_input{
	width:180px;
 }

#gallery_input{
	width:500px;
}
 	.modal_container{
		position:fixed;
		top:0px;
		left:0px;
		z-index:1000;
		width:100%;
		height:100%;
	}
	.modal_container .modal_bg{
		position:fixed;
		top:0px;
		left:0px;
		
		width:100%;
		height:100%;
		z-index:1000;
		background:#000;
		  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		  filter: alpha(opacity=50);
		  -moz-opacity: 0.5;
		  -khtml-opacity: 0.5;
		  opacity: 0.5;
	}
	.big_modal{
		position:fixed;
		top:0px;
		left:0px;
		
		width:100%;
		height:100%;
		z-index:1001;
		
	}
	.big_modal .modal_box{
		width:400px;
		margin:20% auto;
		z-index:1002;
	}
	img.wp-gallery1{
	
	color:#ff0;
	}
	
	body#tinymce.wp-editor1 { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px; 
	
}

body#tinymce.wp-editor a {
    color: #4CA6CF;
	
}
	

.ui-autocomplete { height: 70px; overflow-y: scroll; overflow-x: hidden;}