#kw_gallery_vscbuttons,#kw_gallery_vscbutton{position:absolute;z-index:999998;padding:2px;display:none}#kw_gallery_vscbuttons img,#kw_gallery_vscbutton img{background-color:#eee;border:1px solid #999;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:2px;padding:2px}#kw_gallery_vscbuttons img:hover,#kw_gallery_vscbutton img:hover{background-color:#ccc;border-color:#555}

img.wp-gallery1 {
border: 1px dashed #888;
background: #f2f8ff url("img/gallery.png") no-repeat scroll center center;
width: 99%;
height: 250px;
}