#status_div{
	display:none;
}
.hidden{
  display:none !important;
}

.clearfix_edited{
  clear:both;
}
.error_msg{
	padding: 9px 6px 10px;
background: coral;
border: 1px dotted red;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
color:#fff;
}
.conf_msg{
	padding: 9px 6px 10px;
	background: #CF9;
	border: 1px dotted #9C0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color:#fff;
}
#status_ajax{
	display:none;
}
.input-append button.add-on {
    height: inherit !important;
}
 .fl_l{
	float:left;
 }
 .tw-bs1 input[type="text"], .tw-bs1 select{
	width:80%;
 }
 