.social-share-mobile.end-article {
    margin-top: 20px;
}
.widget-text{
    min-height: 40px;
}
.teaser .teaser-text .author-link a{
    color:#125f7f;
}

a#date.sort-value.disabled, a#relevance.sort-value.disabled {
    pointer-events: none;
    cursor: default;
    font-weight:bold;
}
.lazy {
    display: none;
}

.lazy.menu{
    background-color: #F6F9FA !important;
    overflow: hidden;
}

.fl_image{
    width:80px;
    height:auto;
}

body:before {
    content: "smartphone";
    display: none; /* Prevent from displaying. */
}
@media (min-width: 910px) {
    body:before {
        content: "desktop";
    }
}