@font-face {
	font-family: FaktSmConPro;
	src: url(fonts/FaktSmConPro-Normal.eot);
	src: url(fonts/FaktSmConPro-Normal.eot?#iefix) format("embedded-opentype"), url(fonts/FaktSmConPro-Normal.woff2) format("woff2"), url(fonts/FaktSmConPro-Normal.woff) format("woff"), url(fonts/FaktSmConPro-Normal.ttf) format("truetype"), url(fonts/FaktSmConPro-Normal.svg#FaktSmConPro) format("svg");
	font-style: normal;
	font-weight: 400
}

@font-face {
	font-family: FaktSmConPro;
	src: url(fonts/FaktSmConPro-SemiBold.eot);
	src: url(fonts/FaktSmConPro-SemiBold.eot?#iefix) format("embedded-opentype"), url(fonts/FaktSmConPro-SemiBold.woff2) format("woff2"), url(fonts/FaktSmConPro-SemiBold.woff) format("woff"), url(fonts/FaktSmConPro-SemiBold.ttf) format("truetype"), url(fonts/FaktSmConPro-SemiBold.svg#FaktSmConPro) format("svg");
	font-style: normal;
  font-weight: 700
}

					/*
					 * @font-face {
					 *     font-family: FaktSmConPro;
					 *         src: url(fonts/FaktConPro-SemiBold.eot);
					 *             src: url(fonts/FaktConPro-SemiBold.eot?#iefix) format("embedded-opentype"), url(fonts/FaktConPro-SemiBold.woff2) format("woff2"), url(fonts/FaktConPro-SemiBold.woff) format("woff"), url(fonts/FaktConPro-SemiBold.ttf) format("truetype"), url(fonts/FaktConPro-SemiBold.svg#FaktSmConPro) format("svg");
					 *                 font-style: normal;
					 *                     font-weight: 700
					 *                     }
					 *                     */
