/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
.site-header, .site-footer, .socialmedia-icon-list, .sidebar-sito-common, .social-share, .link-bigpage, .native-label, #gedi-newsletter-2,.social-follow, #adv-Top, .icon, .social-share-mobile, #outplay, .hot, #taboola-below-article-thumbnails{
    display:none !important;
}

.article-wrapper,.article-title{
    width:100% !important;
}

.article-full{
    padding:0px !important;
    width:100% !important;
}

.article-author li{
    list-style-type: none;
}

img{
    max-width: 100%;
}