@charset "utf-8";
/* CSS Document */

/*** CSS Index ***/
/*
Typography css
Button css
Form css
General css
Font awesome css
	+ Index css
		+ header
		+ slider
		+ feature
		+ service block icon
		+ about section
		+ memorie block
		+ news
		+ footer
	+ Inner page css
		+ feature
		+ blog
		+ obituries
		+ about
		+ hostory
		+ mission vission
		+ testimonials
		+ service
		+ contact us
		+ board of directors
		+ location
		+ pricing
		+ gallery
		+ event
		+ grief
		+ career
		+ shortcodes
			- pagination
			- accordion
			- alerts
			- buttons
			- tabs
		+ error

*/

	/* font-family: 'PT Serif', serif; */
  /* font-family: 'Open Sans', sans-serif; */

body {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 18px 0;
	font-weight: 400;
	font-family: 'PT Serif', serif;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
p {
	margin: 0 0 16px 0;
	line-height: 24px;
}
a {
	color: #005796;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
a:hover, a:focus {
	color: #3b495d;
	text-decoration: none;
}
ul, ol {
	margin: 0 0 28px 0;
}
ul li {
}

q p {
	display: none;
}

/************* Button CSS **********/
.btn {
	font-size: 14px;
	font-weight: 600;
	padding: 12px 22px;
	border-radius: 4px;
	border: none;
	line-height: 17px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.btn-default {
	color: #3b495d;
	padding: 0;
	text-transform: initial;
	background: transparent;
}
.btn-default:hover {
	text-decoration: underline;
	background: transparent;
}
.btn-primary {
	background-color: #3b495d;
	color: #eee7e7;
	box-shadow: 2px 2px 5px #AAA;
	/* background: linear-gradient(0deg, rgb(0, 47, 70) 0%, rgb(0, 52, 78) 50%, rgb(58, 93, 111) 100%); */
}
.btn-primary:hover {
	background-color: #525e6f;
	color: #fff;
}
.btn-secondary {
	background-color: #e9d74a;
	color: #1e1e1d;
}
.btn-secondary:hover {
	background-color: #dcc61a;
	color: #1e1e1d;
}
.btn-sm {
	padding: 12px 20px;
	font-size: 12px;
}
.btn-xs {
	padding: 6px 10px;
	font-size: 10px;
}
.btn-lg {
	padding: 16px 24px;
	font-size: 16px;
}
.btn-wide {
	padding: 16px 60px;
}
/* .btn-link {
	color: #3b495d;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;

}
.btn-link:hover {
	color: #1e1e1d;
	text-decoration: none;
}
.btn-link-white {
	color: #fff;
}
.btn-link-white:hover {
	color: #3b495d;
} */
/*************Form class*********/
.form-group {
	margin-bottom: 15px;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 16px;
	color: #333;
}
.form-control {
	display: block;
	width: 100%;
	height: 48px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #776f6f;
	background-color: #fcfcf9;
	background-image: none;
	border: 1px solid #eeece2;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(238,236,226,1);
	-moz-box-shadow: 0px 0px 0px 0px rgba(238,236,226,1);
	box-shadow: 0px 0px 0px 0px rgba(238,236,226,1);
}

/*************Template General class*********/
.section-space {
	padding-top: 16px;
	padding-bottom: 16px;
}

/* .section-color {
	background-color: #fcfcf9;
	border-top: 1px solid #e9e8df;
	border-bottom: 1px solid #e9e8df;
}
.section-title {
	text-align: center;
	margin-bottom: 50px;
}
.section-title p {
	margin-bottom: 0px;
} */

.well-title, .widget-title{
	text-transform: inherit;
	color: #333;
	font-size: 38px;
	font-family: Parisienne;
	position: relative;
}

h3.widget-title:before {
		display: block;
    content: "Memorie recenti";
    position: absolute;
    left: 0.75px;
}

.well-default {
	background-color: #f5f5f5;
	padding: 24px;
	border-radius: 0px;
	margin-bottom: 32px;
}
.well-default:hover {
  box-shadow:2px 2px 8px #ddd;
}

.well-default a {
	/* text-decoration: underline; */
	font-weight: 700;
}
.well-default p a {
	text-decoration: none;
	font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
}
.well-default p a:hover {
	text-decoration: underline;
}

.well-default a.btn,
.well-default h2 a {
	text-decoration: none;
}

.well-default h2{
	margin-bottom: 4px;
}
.well-default h2 a {
	color: #1e1e1d;
}
.well-default h2 a:hover {
	color: #566373;
}

.well-default p{margin-bottom: 20px; line-height: 22px;}
.well-default .btn-link{margin-top: 20px; display: block;}

.well-default .img-circle {
	border-radius: 0;
}

.memorie-block:not(._detail-content) .well-default .memorie-img a {
	background: #ffffff;
	display: inline-block;
	padding: 10px;
	padding-bottom: 32px;
	box-shadow: 1px 1px 10px #e4e2e2;
}

.well-primary {
	background-color: #F0FAFF;
	padding: 24px;
	border-radius: 8px;
	margin-bottom: 24px;	border: 1px solid #eeece2;
}

.listnone {
	list-style: none;
	padding: 0px;
	line-height: 28px;
}

.lead {
	font-size: 24px;
	color: #3b495d;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	margin-bottom: 24px;
	line-height: 34px;
}

.text-block {
	margin-bottom: 10px;
}

.primary-color {
	color: #3b495d;
}

/***** header *****/
.header-top {
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #07202e;
	/* border-bottom: 1px solid #355061; */
}
.welcome-msg {
	font-size: 12px;
	color: #5f5f5f;
	margin-bottom: 5px;
}
.header-top .navbar-text {
	margin: 0px;
	font-size: 12px;
	text-transform: uppercase;
}
.header-top .location-link, .header-top .search {
	color: #5f5f5f;
	padding: 11px 20px 15px 20px;
	border-left: 1px solid #323231;
	border-right: 1px solid #323231;
}

.header-top .location-link:hover, .header-top .search:hover {
	color: #f27132;
}
.header-top .location-link i, .header-top .call-number i {
	padding-right: 10px;
}
.header-top .call-number {
	color: #f27132;
	padding-left: 10px;
	padding-right: 10px;
}

.search-open {
	display: none;
	padding-top: 24px;
	padding-bottom: 24px;
}

/*  navigation */

.navbar-header {
	float: none;
}

 .navbar-header .navbar-brand {
	float: none;
	width: 370px;
	padding: 0px;
	height: auto;
	display: block;
	margin: 0 auto;
	position: relative;
	left: -2%;
	padding-bottom: 12px;
}

.navigation {
	position: relative;
	z-index: 1111;
}

.navigation .container {
	max-width: 100%;
	width: 100%;
}

.navigation .navbar {
	position: relative;
	margin-bottom: 0px;
	border: none;
}

.navigation .navbar-default {
	background-color: transparent;
	border: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navigation .navbar-default .navbar-nav>li>a {
	color: #d0d0d0;
	text-transform: uppercase;
	font-size: 15px;
	padding: 15px 24px 12px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.navigation .navbar-default .navbar-nav>li>a span.fa{padding-left: 4px;}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu span.fa{padding-left: 10px; text-align: right;}

.navigation .navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	fill: #ff6600;
	color: #ff6600;
	background-color: transparent;
}

.navigation .navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #ff6600;
	border-bottom: none;
}

.navbar-default .navbar-nav>.open>a:focus g,
.navbar-default .navbar-nav>.open>a:hover g {
	fill: #ff6600;
}

.navbar .navbar-nav ._profile-user:hover>ul {
	border-top: 5px solid transparent;
	display: block;
  min-width: 250px;
}

.navigation .navbar-right {
	margin-right: -30px;
}

.navigation .navbar-right .dropdown-menu {
	left: 0;
	right: auto;
}

/* logo  da visualizzare solo su barra sticky */
.navigation .navbar-brand._sticky-only {
	opacity: 0;
	width: 180px;
	visibility: hidden;
	position: absolute;
	top: -8px;
	left: 0px;
}

.sticky-wrapper {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.sticky-wrapper.is-sticky .navigation {
	background: rgba(30, 47, 58, 0.9);
}

.sticky-wrapper.is-sticky .navigation .navbar-brand._sticky-only {
	opacity: 1;
	visibility: visible;
}

.navigation .dropdown-menu {
	background-color: #4e5e6b;
	border: none;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
	box-shadow: 0 0px 0px rgba(0,0,0,.175);
	border-radius: 0px;
	padding: 0;
	margin-left: 0;
}

.navigation .dropdown-menu li a {
	color: #e0e0e0;
	display: block;
	padding: 12px 48px 12px 16px;
	clear: both;
	line-height: inherit;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	white-space: nowrap;
	border-bottom: 1px solid #122f48;
}

.navigation .open a:hover, .navigation .open a:focus {
	background-color: transparent;
	border-bottom: 1px solid #122f48;
	color: #ff6600;
}

.navigation .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #ff6600;
	text-decoration: none;
	background-color: transparent;
}
.navigation .navbar-default .navbar-toggle {
	border: none;
	padding: 8px;
  margin-top: 12px;
  margin-right: 4px;
}
.navigation .navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

._navbar-partner ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
._navbar-partner ul li{
	line-height: 16px;
	margin-left: 8px;
}
._navbar-partner ul li a{
	display: block;
	width: 94px;
	opacity: 0.6;
	transition: opacity .3s;
}

._navbar-partner ul li a:hover{
	opacity:1;
}

._navbar-partner ul li a.navbar-partner--gnn {
	width: 64px;
}

/* -------------------------------------- */

.memorie-block {
 margin-bottom: 24px;
}
.memorie-block-img { margin-bottom: 24px;
}
.memorie-block-img img {
	width: 100%;
	border-radius: 2px;
}
.memorie-title {
	margin-bottom: 8px;
}

.memorie-meta, .memorie-years {
	font-size: 13px;
	margin-bottom: 12px;
	font-family: 'Open Sans', sans-serif;
}
.well-default .memorie-meta span { padding: 0 2px;}

.post-block {
	text-align: center; margin-bottom: 60px;
}
.post-block-img { margin-bottom: 24px;
}
.post-block-img img {
	border-radius: 2px;
	position: relative;
}

/* ------------------ footer ------------- */

.footer {
	background-color: #2f2d2d;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	padding-top: 24px;
	padding-bottom: 24px;
}
.footer svg{
	width: 80%;
}

.footer-block {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.footer-block p {
	font-size: 11px;
	line-height: 14px;
	margin: 0;
	margin-bottom: 8px;
}
.footer-block p a {
	color:#fff;
	text-decoration: underline;
}

.footer-block .ft-logo {
	margin-right: 8px;
	margin-bottom: 8px;
}

/***** Inner page css *****/
.container {
	max-width: 1000px;
}
.main-container {
	padding-top: 36px;
	padding-bottom: 36px;
}
.content {
	margin-bottom: 20px;
}
.sidebar {
}
/***** page header *****/
.page-header {
	background: #3b495d url(../img/bg-memorie.jpg) no-repeat;
	background-size: cover;
	margin: 0;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 105px;
	position: relative;
	background-position: center;
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: cover;
}

.page-title {
	font-size: 40px;
	line-height: 46px;
	color: #fff;
	margin-bottom: 0;
}
.page-title span{
	font-size: 27px;
	display: block;
}
/***** page breadcrumb *****/

.required {
	color: #fe0f0f;
	font-size: 12px;
}

/***** sidebar *****/
._my-message,
.widget {
	padding: 24px 32px;
	background-color: #e6f6ff;
	border-radius: 0px;
	margin: 32px 0;
}
.col-md-4 .row:first-child .widget {
	margin-top: 0px;
}
.widget-title {
	margin-bottom: 24px;
}
.widget ul {
	margin-bottom: 0;
}

/*****  memorie *****/
.memorie-post-block {
	margin-top: 24px;
	margin-bottom: 24px;
}
.memorie-post-block:not(:last-child):after {
	border-bottom: 1px solid #a1a9b1;
	width: 35%;
	height: 1px;
	margin: 0 auto;
	top: 16px;
  position: relative;
}
.memorie-post-img {
	padding-right: 0px;
}

.memorie-post-date {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.memorie-post-title {
	margin-bottom: 00px;
	font-size: 14px;
	margin-top: 2px;
	margin-bottom: 2px;
	line-height: 18px;
}
.memorie-post-title span {
	font-weight: 700;
}
.memorie-post-text {
	position: relative;
	font-style: italic;
	line-height: 19px;
	font-size: 15px;
}


/***** memorie *****/

.memorie-block p {
	margin-bottom: 18px;
}
/* .memorie-meta--age {
	font-size: 13px;
} */

/***** about *****/
.about-img {
	margin-bottom: 24px;
}
.about-img img {
	border-radius: 4px;
}


/***** st pagination *****/
.st-pagination {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.st-pagination .pagination>li>a, .st-pagination .pagination>li>span {
	position: relative;
	float: left;
	padding: 7px 13px;
	margin-right: 5px;
	line-height: 1.42857143;
	color: #1e1e1d;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #eeece2;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 50%;
}
.st-pagination .pagination>li>a:focus, .st-pagination .pagination>li>a:hover, .st-pagination .pagination>li>span:focus, .st-pagination .pagination>li>span:hover {
	z-index: 2;
	color: #fff;
	background-color: #3b495d;
	border-color: #3b495d;
}

.st-pagination .pagination span.current,
.st-pagination .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	color: #fff;
	background-color: #3b495d;
	border-color: #3b495d;
}

/* ____________________________________________  */
/* CUSTOM STARTS HERE */

._flex-align {
	display: flex;
}

._flex-align .btn {
	margin-left: -16px;
}

._link-more {
	font-size: 14px;
	color: #34789c;
	text-decoration: underline;
}

._custom-arrow {
	border: solid #6f6f6f;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	position: relative;
}

nav ._custom-arrow  {
	border: solid #d0d0d0;
	border-width: 0 1px 1px 0;
	top: -3px;
	left: 10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
nav a:focus ._custom-arrow,
nav a:hover ._custom-arrow  {
	border: solid #ff6600;
	border-width: 0 1px 1px 0;
}

.btn[aria-expanded="true"] ._custom-arrow {
	top: 1px;
	left: -5px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.btn[aria-expanded="false"] ._custom-arrow {
	top: -2px;
	left: -5px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

._icon-search svg {
	max-width: 20px;
	max-height: 20px;
}

.nav#account-profile svg {
	position: relative;
	top: 3px;
	left: -4px;
}

._adv-search {
	margin-top: 4px;
}

._adv-search button {
	font-size: 12px;
	color: #6f6f6f;
}

._about-content h2 {
	margin-bottom: 32px;
}

._about-content h3 {
	line-height: 24px;
}

._detail-content h2 {
	font-size: 36px;
	margin-bottom: 4px;
}

._detail-content h3 {
	font-size: 16px;
	font-style:italic;
	line-height: 22px;
	margin-bottom: 16px;
}

._detail-content .memorie-meta {
	margin-top: 4px;
	font-size: 14px;
	margin-bottom: 16px;
}
._detail-content ._memorie-web {
	margin-left: 4px;
}
/* ._detail-content .memorie-meta--age {
	font-size: 14px;
} */

._detail-content+.memorie-block h3:not(#reply-title) {
	text-transform: inherit;
	color: #333;
	font-size: 38px;
	line-height: 30px;
	font-family: Parisienne;
	position: relative;
	margin-bottom: 12px;
}
._detail-content+.memorie-block h3:not(#reply-title):before {
		display: block;
    content: "Lascia una tua memoria";
    position: absolute;
    left: 0.75px;
}


._my-message:first-child {
	margin-top: 16px;
}

._my-message {
	padding: 16px 24px;
}

._my-message h3 {
		font-weight: 700;
}

._my-message-cta,
._my-message-date {
	text-align: right;
}

._my-message-date span {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		padding: 0 6px;
}
._my-message-image {
	float: left;
	max-height: 190px;
	overflow: hidden;
}
._my-message-image img {
	margin-right: 32px;
	margin-bottom: 32px;
	max-width: 320px;
}

._my-message ._my-message-share {
	padding: 16px 0 0;
}

._my-message-share {
	display: flex;
	justify-content: flex-end;
}
._my-message-share .share-button {
	position: relative;
}

.gs-social-popup-balloon {
	position: absolute !important;
	top: -78px !important;
	right: -65px !important;
	/* top: -29px !important;
	right: -75px !important; */
	z-index: 1;
}

.gs-social-popup-balloon .gs-sharebar {
	background: #8193a0;
	padding: 16px 8px;
	padding-bottom: 4px;
	border-radius: 4px;
	width: 175px !important;
	height: 70px !important;
	box-shadow: 0 3px 3px #ccc;
}

.gs-social-popup-balloon .gs-sharebar:before {
	display: block;
  content: "CONDIVIDI LA STORIA";
  font-family: Open Sans;
  color: #fff;
  font-size: 13px;
  text-align: center;
  font-weight: 700;
  position: relative;
  top: -8px;
}

.gs-custom-theme-default .gig-button-container-horizontal .share-text {
	width:44px;
}

/* whatsapp */
.gs-custom-theme-default .gs-custom-whatsapp {
	display: none;
}

.gs-custom-theme-default .gs-custom-whatsapp a .share-text {
	border:none;
	background: none;
	text-shadow: none;
	font-size: 56px;
	transition:color 1s ease;
}

.gs-custom-theme-default .gs-custom-facebook {
	margin-left: 41px;
	margin-right: 16px;
}

/* facebook */
.gs-custom-theme-default .gs-custom-facebook a .share-text {
	border:none;
	background: #fff;
	color: #8093a0;
	text-shadow: none;
	font-size: 53px;
	transition:color 1s ease;
	width: 24px;
	line-height: 22px;
}
.gs-custom-theme-default .gs-custom-facebook a .share-text:before {
	position: relative;
  left: -12px;
  top: 1px;
}

/* twitter */
.gs-custom-theme-default .gs-custom-twitter a .share-text {
	border:none;
	background: none;
	text-shadow: none;
	font-size: 56px;
	line-height: 24px;
	color: #fff;
	transition:color 1s ease;
}

.gs-custom-theme-default .gs-custom-facebook a .share-text:hover {
	background: #415661;
}

.gs-custom-theme-default .gs-custom-twitter a .share-text:hover,
.gs-custom-theme-default .gs-custom-whatsapp a .share-text:hover {
	color: #415661;
}


._my-message-icon {
	opacity: 0.5;
	padding: 0 6px;
	transform: opacity .3s;
}
._my-message-icon:hover {
	opacity: 1;
}

._my-message-icon-heart {
	background-image: url(img/heart.svg);
}
._my-message-icon-heart.selected {
	background-image: url(img/heart-full.svg);
}
._my-message-alert a {
	text-transform: uppercase;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  width: 100px;
  display: inline-flex;
  text-align: left;
  line-height: 14px;
  margin-left: 16px;
  top: -6px;
  position: relative;
  color: #7f929f;
}
._my-message-alert a:hover {
	text-decoration: underline;
}


._memorie-web--title {
	font-weight: 700;
  margin-bottom: 12px;
	font-size: 15px;
	margin-top: 20px;
}

._memorie-web ul {
	list-style: circle;
	padding-left: 28px;
}
._memorie-web ul li {
	margin-bottom: 6px;
}
._detail-content .memorie-meta._memorie-firma {
	text-align: right;
	font-size: 16px;
	font-style: italic;
  font-family: 'PT Serif', serif;
	margin-bottom: 16px;
}

.swiper-container._personal-slide {
    width: 100%;
		background: #fff;
		padding: 16px 16px 48px;
		display: inline-block;
		max-width: 357px;
		box-shadow:1px 1px 10px #e4e2e2;
}

.swiper-container._personal-slide .swiper-slide img {
		vertical-align: middle;
}

.swiper-button-next, .swiper-button-prev {
	color: #fff;
	font-weight: 700;
	top: auto;
	bottom: 0;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	right: 4px;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	left: 4px;
}

.swiper-button-next:after, .swiper-button-prev:after {
	font-size: 12px;
	text-transform: none!important;
	letter-spacing: 0;
	text-transform: none;
	background: #00000080;
	border-radius: 50%;
	padding: 4px 10px;
}

.swiper-pagination-bullet-active {
	background: #333;
}

/* in caso di 1 sola slide, pagination disabled */
._personal-slide._slide-disabled .swiper-pagination,
._personal-slide._slide-disabled .swiper-button-prev,
._personal-slide._slide-disabled .swiper-button-next {
	display: none;
}

.acf-table {
	border: none !important;
}
.acf-table>thead>tr>th {
	border-width: 0 0 1px 0 !important;
}

.acf-fields>.acf-field {
	border-top: none !important;
}
.acf-fields>.acf-field

.acf-field[data-width]+.acf-field[data-width] {
	border-left: none !important;
}

.acf-field input[type="text"],
.acf-field input[type="password"],
.acf-field input[type="date"],
.acf-field input[type="datetime"],
.acf-field input[type="datetime-local"],
.acf-field input[type="email"],
.acf-field input[type="month"],
.acf-field input[type="number"],
.acf-field input[type="search"],
.acf-field input[type="tel"],
.acf-field input[type="time"],
.acf-field input[type="url"],
.acf-field input[type="week"],
.acf-field textarea,
.acf-field select {
	border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.acf-table>tbody>tr>th,
.acf-table>tbody>tr>td,
.acf-table>thead>tr>th,
.acf-table>thead>tr>td {
	background: #f5f5f5 !important;
}

.acf-field .acf-label {
	margin: 0px 0 4px;
}

.acf-actions {
	float: right;
}

.acf-actions .acf-button {
	background-color: transparent;
  color: #005c8a;
  text-transform: lowercase;
	font-weight: 700;
	padding:0px;
	border-radius: 6px;
	box-shadow: none;
	margin-top: 0px;
	font-size: 13px;
	text-decoration: none;
}

.acf-actions .acf-button:before {
	display: inline-block;
	content:"+";
	position: relative;
	left: -5px;
	width:10px;
	height: auto;
}

.acf-form-submit .acf-button {
	margin: 16px auto;
}

.hide-if-value .acf-button {
	background-color: #d8d8d8;
  color: #000000;
  text-transform: lowercase;
  box-shadow: none;
  text-decoration: none;
  font-weight: normal;
  padding: 4px 8px;
  display: inline-block;
  margin-left: 10px;
	font-size: 13px;
}

a.acf-icon,
a.acf-input {
	text-decoration: none;
}


/* SWIPER SLIDER di logo */

._gedi-gnn-logo {
	height: 30px;
}
._gedi-gnn-logo a {
	opacity: 0.4;
}
._gedi-gnn-logo a:hover {
	opacity: 0.7;
}

._gedi-gnn-logo svg g,
._gedi-gnn-logo svg path {
	fill: #dbeff9 !important;
}

._gedi-gnn-logo .swiper-slide {
	text-align: center;
}

/***** swiper with continuos scrolling effect *****/
._gedi-gnn-logo .swiper-wrapper{
	-webkit-transition-timing-function:linear!important;
	-o-transition-timing-function:linear!important;
	transition-timing-function:linear!important;
}

._gedi-gnn-logo a svg {
		height:15px;
		margin-top: 7px;
}

._gedi-gnn-logo a._logo-repubblica svg,
._gedi-gnn-logo a._logo-liberta svg {
		height:19px;
		margin-top:6px;
}

._gedi-gnn-logo a._logo-lastampa svg {
	  height:13px;
		margin-top: 9px;
}

._gedi-gnn-logo a._logo-ilpiccolo svg {
	  height:14px;
		margin-top: 9px;
}

._gedi-gnn-logo a._logo-ilsecolo svg {
	  height:15px;
		margin-top: 7px;
}

._gedi-gnn-logo a._logo-ilmattinopadova svg,
._gedi-gnn-logo a._logo-lanuovavenezia svg {
	  height:16px;
}

._gedi-gnn-logo a._logo-messaggeroveneto svg {
		height:17px;
		margin-top: 8px;
}

._gedi-gnn-logo a._logo-provinciapavese svg {
	  height:18px;
		margin-top: 8px;
}

._gedi-gnn-logo a._logo-lasentinellacanavese svg {
		height:19px;
}

._gedi-gnn-logo a._logo-corrierealpi svg {
		height:20px;
}

._gedi-gnn-logo a._logo-gazzettamantova svg,
._gedi-gnn-logo a._logo-lanuovavenezia svg,
._gedi-gnn-logo a._logo-lanuovaferrara svg,
._gedi-gnn-logo a._logo-latribunatreviso svg,
._gedi-gnn-logo a._logo-ilmattinopadova svg {
	margin-top: 8px;
}

._gedi-gnn-logo a._logo-gazzettamodena svg,
._gedi-gnn-logo a._logo-gazzettareggio svg,
._gedi-gnn-logo a._logo-iltirreno svg  {
	margin-top: 9px;
}

.well-default #acf-form .acf-form-submit {
	position: relative;
	margin-top: 32px;
}
.well-default #acf-form .acf-form-submit:before {
	display: block;
	content:"Questo contenuto verrà pubblicato online dopo l’intervento dei moderatori";
	font-size: 14px;
  font-family: 'PT Serif', serif;
  text-align: center;
}
.well-default #acf-form .acf-form-submit .acf-button {
	margin-top: 24px;
}


/* ____________________________________________ */
/* __________________ BREAKPOINT STARTS HERE __ */
/* ____________________________________________ */

@media only screen and (max-width: 768px) {

.main-container {
	padding-top: 32px;
	padding-bottom: 32px;
}

.navigation {
	  padding-top: 0px;
		background: none;
		border-top: none;
}

.navigation .navbar {
	min-height: 50px;
}
.navbar .navbar-nav {
	display: inline-block;
	margin: 0 -4px;
	width: 100%;
}

.navbar-header {
	float: none;
}

.navbar .navbar-collapse {
	text-align: left;
}

.navigation .navbar-default .navbar-nav>li>a {
    color: #e0e0e0;
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px 12px 16px 8px;
    font-weight: 300;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    padding: 12px 0px 12px 24px;
		border-bottom: none;
		font-weight: 300;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #284b65;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	    color: #ffa362;
	    background-color: transparent;
}

._profile-user.nav-is-active .dropdown-menu {
	  display: block;
    float: none;
    position: relative;
}

.well-default,
._my-message {
	padding: 24px 16px;
}

/***** header top *****/
.welcome-msg {
	display: none;
}

.page-header {
	padding-top: 30px;
	padding-bottom: 60px;
	background-attachment: inherit;
}

.page-title {
	font-size: 26px;
	line-height: 28px;
	margin: 0 32px;
}
.page-title span{
	font-size: 18px;
	line-height:20px;
	margin-top: 8px;
}

.navbar-default .navbar-collapse {
	clear: both;
	float: none;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
  top: 0px;
	background-color: #1e3240;
	border-bottom: 1px solid #09202e;
}
/* #account-profile {
	margin-top: -7.5px;
} */

.navigation .navbar-default .navbar-nav li {
    border-bottom: 1px solid #13232d;
}

.navigation .dropdown-menu {
	  background-color: #182b38;
}
.navigation .dropdown-menu li {
		border-bottom: none;
}
.navigation .dropdown-menu li a {
	padding: 16px 0px 16px 20px;
	border-bottom: 1px solid #375163;
}

.header-top .container-fluid .row,
.page-header .container-fluid .row {
	margin-left: 0px;
	margin-right: 0px;
}


/***** memorie *****/

.well-default .memorie-meta {
	float: none;
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.well-default h2 {
	font-size: 26px;
}


/******* section space ******/

/***** st pagination *****/
.st-pagination .pagination {
	margin-bottom: 48px;
}

.st-pagination .pagination>li>a, .st-pagination .pagination>li>span {
	font-size: 13px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-header .navbar-brand {
	width: 220px;
	left: -5px;
	padding-bottom: 4px;
}

._my-message-image img {
	max-width: 100%;
}

.navigation .navbar-brand._sticky-only {
	top: -9px;
	left: -16px;
}

.sticky-wrapper.is-sticky .navigation {
	background: rgba(30, 47, 58);
}

/* NOT _detail-content  */


.memorie-block:not(._detail-content) .well-default .memorie-img {
	text-align: center;
	margin-bottom: 12px;
}
.memorie-block:not(._detail-content) .well-default .memorie-img img {
	max-width: 180px;
}
.memorie-block:not(._detail-content) .well-default .memorie-img a {
	padding-bottom: 48px;
}
.memorie-block:not(._detail-content) .well-default .col-md-8 a.btn {
	display: table;
	/* text-align: center; */
	margin: 0 auto;
	margin-top: 24px;
}

/* _detail-content  */

._detail-content .well-default>.row {
	display: flex;
  flex-wrap: wrap;
}

._detail-content .memorie-meta {
	margin-top: 4px;
}

._detail-content h2 {
	font-size: 32px;
}

._detail-content .well-default>.row .col-md-8 {
	order:1;
	width: 100%;
}
._detail-content .well-default>.row .col-md-4 {
	order:2;
	width: 100%;
}
._detail-content .well-default>.row .col-md-12 {
	order:3;
	width: 100%;
}
._detail-content .memorie-img {
	margin-bottom: 0px;
}

._detail-content+.memorie-block {
	padding: 0 8px;
}

#comments ._my-message-name h3,
#comments ._my-message-date {
	margin-bottom: 8px;
}

@media only screen and (max-width: 480px){

	.swiper-container._personal-slide {
		max-width: 225px;
		display: table;
	}

}


/* ____________________________________________ */
/* ____________________________________________ */

@media only screen and (max-width: 320px){
.header-top{text-align: right;}
.header-top .location-link{display: none;}
.about-feature{margin-bottom: 24px;}
.contact-block {margin-bottom: 24px;}

}
