@font-face {
    font-family: 'FaktConPro-SemiBold';
    src: url('FaktConPro-SemiBold.woff2') format('woff2'), url('FaktConPro-SemiBold.woff') format('woff'), url('FaktConPro-SemiBold.ttf') format('truetype'), url('FaktConPro-SemiBold.eot') format('svg');
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'FaktSmConPro-SemiBold';
    src: url('FaktSmConPro-SemiBold.woff2') format('woff2'), url('fonts/factconpro/FaktSmConPro-SemiBold.woff') format('woff'), url('fonts/factconpro/FaktSmConPro-SemiBold.ttf') format('truetype'), url('fonts/factconpro/FaktSmConPro-SemiBold.eot') format('svg');
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
html {
    min-height: 100%;
}
body {
    /*background: url('images/background.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Helvetica;
    line-height: 1.4em;
}
h1 {
    font-family: 'FaktConPro-SemiBold';
    line-height: 1.125em;
    font-size: 24px;
    margin-bottom: 5px;
}
input {
    font-size: 14px;
    padding: 0 10px;
    border-radius: 4px;
    border: none;
    background: white;
    line-height: 30px;
}
label {
    display: block;
    font-size: 0.875em;
    margin-bottom: 5px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}
.subtitle {
    font-family: 'FaktSmConPro-SemiBold';
    font-size: 18px;
    margin-top: 0;
}
a {
    font-weight: bold;
    color: white;
}
.icon-facebook {
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
    font-size: 30px;
}
#pf_Email {
    width: 60%;
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#submit {
    width: calc(40% - 20px);
    float: left;
    background: rgb(0, 51, 65);
    color: white;
    border: none;
    line-height: 30px;
    overflow: hidden;
    min-width: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}
body:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
}
.aligner {
    position: relative;
    min-height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p:last-child {
    margin: 0;
}
.content {
    margin: 0 auto;
    background: #185F7C;
    color: white;
    padding: 30px 20px;
    z-index: 1;
    position: relative;
    font-size: 14px;
}
.content .text a {
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.content .text a:hover {
  border-bottom: none;
}
form {
    display: block;
    margin-bottom: 30px;
    height: 30px;
}
.logo {
    display: inline-block;
    width: 140px;
    height: 75px;
    overflow: hidden;
    background: url('images/bi-italia.svg') left center no-repeat;
    background-size: 100% auto;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .logo {
        width: 200px;
        height: 110px;
        display: block;
        position: absolute;
        left: 40px;
        top: 40px;
    }
    .content {
        position: relative;
        max-width: 800px;
        padding: 130px 80px 80px;
        font-size: 15px;
    }
    .icon-facebook {
        right: 40px;
        top: 40px;
        font-size: 40px;
    }
    form {
        display: inline-block;
        width: 400px;
    }
    h1 {
        font-size: 32px;
    }
    .subtitle {
        font-size: 22px;
    }
}
